In [1]:
print('Heramb')

Heramb

In [2]:
print("Hii heramb are you doing good")

Hii heramb are you doing good

In [5]:
print("""heramb you are fine  
superb """)

heramb you are fine"
superb

In [10]:
car = (1,2,3)
car

(1, 2, 3)

In [12]:
type(car)

tuple

In [14]:
a = ("john")
a

'john'

In [15]:
#python is case sensitive language ; take care of upper & respective lower case.
print(JOHN)

NameError: name 'JOHN' is not defined

# USER INPUT

In [18]:
name = input("""enter your name,
enter your age""")
name

enter your name
enter your age 2

'2'

In [20]:
name = int(input("Enter your name"))
name

Enter your name 21

21

In [21]:
name = float(input("Enter your name"))
name

Enter your name 21.5

21.5

In [22]:
name = complex(input("Enter your name"))

Enter your name 1+2j

TYPECASTING

In [23]:
name = "heramb"
name

'heramb'

In [24]:
type(name)

str

In [25]:
age = 21
age

21

In [26]:
type(age)

int

In [29]:
a = 1
b = 3
a,b

(1, 3)

In [31]:
type(a)

int

In [32]:
a = 1.23
a

1.23

In [33]:
type(a)

float

In [34]:
a = int(a)
a

1

In [35]:
type(a)

int

Problem solving

In [5]:
name=input("enter your name")
address=input("enter your address")
age=int(input("enter your age"))
print(name)
print(address)
print(age,"years")

enter your name Heramb
enter your address Wagholi,Pune
enter your age 21

Heramb
Wagholi,Pune
21 years

In [39]:
a=30
b=45
a,b=b,a
print(b,a)

30 45

In [15]:
i1=float(input("enter an number"))
i2=int(i1)
print(i2)

enter an number 2.5

2

In [33]:
ID = ("ID CARD")
Name=input("enter your name")
Address=input("enter your address")
age=int(input("enter your age"))
print(ID)
print("Name",Name)
print("Address",Address)
print("Age",age,"years")

enter your name h
enter your address w
enter your age 21

ID CARD
Name h
Address w
Age 21 years

In [34]:
i1=int(input("enter an number"))
i2=float(i1)
print(i2)

enter an number 3

3.0

OPERATORS:

In [46]:
#1)Arithmetic operators
a=4
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)#modulo remainder
print(a//b)#floor division
print(a**b)

6
2
8
2.0
0
2
16

In [54]:
#2)compariosn operator
a=4
b=2
a==b
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
True
False
True

In [57]:
#3)logical operator
a= 3>2
b=5>7
a and b
print(a&b)

a or b
print(a or b)

not(a&b)

False
True

True

In [66]:
#4) assignment operator
score = 0
print(score)
score+=10
print(score)
score-=2
print(score)
score*=6
print(score)

0
10
8
48

In [67]:
#5)identity operator
a = 234
b = 234
print(a is b)
print(a is not b)

True
False

In [82]:
#6)Bitwise operator
a=10
b=8
print(bin(8))
print(bin(10))
print(a&b) # binary addition
print(a|b) # binary substraction
print(a or b)
print(a^b)
print(a>>2)
print(a<<2)

0b1000
0b1010
8
10
10
2
2
40

In [86]:
#membership operator
c= " elephant"
print("e" in c)
print("e" not in c)

True
False

CONDITIONAL STATEMENTS:

In [96]:
#1) if the stattement:
marks = 75
if marks>=80:
    print(marks,"you are good to go")
print("thank you")

thank you

In [99]:
#2)if else statement
marks = int(input("enter the marks"))
if marks>=80:
    print("you get an iphone")
else:
    print("you get an android phone")

enter the marks 75

you get an android phone

In [103]:
# if elif else
marks = int(input("enter the marks"))
if marks>80:
    print("you get an iphone")
elif 80>marks>75:
    print("you get an moped")
else:
    print("you get an android phone")

enter the marks 76

you get an moped

In [107]:
# nested if 
marks = int(input("enter the marks"))
if 90>marks>70:
    print("very good")
if 70>marks>65:
    print("good")
if 65>marks>50:
    print("average")

enter the marks 62

average

In [108]:
#short hand if
marks = int(input("enter the marks"))
if 90>marks>70:print("very good")

enter the marks 85

very good

In [109]:
#short hand if else statement:
marks = int(input("enter the marks"))
print("very good")if 90>marks>70 else print("good")

enter the marks 76

very good

PROBLEM SOLVING :

In [110]:
num = int(input("enter the number "))
if num>=0:
    print("number is positive")
else :
    print("numbet is not postive")

enter the number  5

number is positive

In [115]:
num=int(input("enter the number "))
if num%2==0:
    print("number is even")
else :
    print("numbet is odd")

enter the number  67

numbet is odd

In [124]:
length=int(input("enter the length "))
breadth=int(input("enter the bredath"))
radius=int(input("enter the radius "))
if length!=breadth:
    print("Area of Reactangle",length*breadth)
if radius>0:
    print("Area of circle",3.14*radius*radius)
else:
    print("Area of Square",length*breadth)

enter the length  3
enter the bredath 5
enter the radius  6

Area of Reactangle 15
Area of circle 113.03999999999999

In [189]:
letter=input("enter the letter ")
if letter in "aeiou":
    print("is vowel")
else:
    print("is not vowel")

enter the letter  d

is not vowel

In [184]:
num=int(input("enter the number "))
if 99>num>9:
    print("number is 2 digit")
elif 999>num>99:
    print("number is 3 digit")
elif 9999>num>999:
    print("number is 4 digit")
elif 99999>num>9999:
    print("number is 5 digit")
else :
    print("numbet is single digit")

enter the number  10000

number is 5 digit

LOOPS:

In [2]:
#1) for loop

for i in range (1,9,1):
    print("heramb",end=" ")

heramb heramb heramb heramb heramb heramb heramb heramb

In [9]:
num=int(input("enter the number"))
for i in range(1,11,1):
    print(num,"*",i,"=",num*i)

enter the number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [16]:
#2) while loop
num=int(input("enter the number"))
i=1
while i<11:
    print(num,"*",i,"=",num*i)
    i+=1

enter the number 20

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [21]:
#3)while True 

while True:
    n1=int(input("enter number"))
    n2=int(input("enter number"))
    print(n1+n2)

    repeat=input("do you want to stop")
    if repeat == "yes":
        break
    else:
        continue

enter number 1
enter number 2

3

do you want to stop no
enter number 2
enter number 3

5

do you want to stop yes

In [57]:
#4)Nested loops

for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [66]:
# conditional statements for loops

for i in range(1,101,1):
    if i%6 == 0 & i%12 == 0:
        print(i,end=" ")

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [89]:
for i in range(0,51,2):
    if i == 50:
        break
    else:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

PROBLEM SOLVING:

In [8]:
sum = 0
for i in range(0,51):
    if i%2==0 :
        sum+=i
        print("sum of all even numbers upto 50 ",sum)

sum of all even numbers upto 50  0
sum of all even numbers upto 50  2
sum of all even numbers upto 50  6
sum of all even numbers upto 50  12
sum of all even numbers upto 50  20
sum of all even numbers upto 50  30
sum of all even numbers upto 50  42
sum of all even numbers upto 50  56
sum of all even numbers upto 50  72
sum of all even numbers upto 50  90
sum of all even numbers upto 50  110
sum of all even numbers upto 50  132
sum of all even numbers upto 50  156
sum of all even numbers upto 50  182
sum of all even numbers upto 50  210
sum of all even numbers upto 50  240
sum of all even numbers upto 50  272
sum of all even numbers upto 50  306
sum of all even numbers upto 50  342
sum of all even numbers upto 50  380
sum of all even numbers upto 50  420
sum of all even numbers upto 50  462
sum of all even numbers upto 50  506
sum of all even numbers upto 50  552
sum of all even numbers upto 50  600
sum of all even numbers upto 50  650

In [110]:

for i in range(1,21,1):
    if i<=20:
        print(i,"**",2,"=",i*i)
    else:
        print("try again")

1 ** 2 = 1
2 ** 2 = 4
3 ** 2 = 9
4 ** 2 = 16
5 ** 2 = 25
6 ** 2 = 36
7 ** 2 = 49
8 ** 2 = 64
9 ** 2 = 81
10 ** 2 = 100
11 ** 2 = 121
12 ** 2 = 144
13 ** 2 = 169
14 ** 2 = 196
15 ** 2 = 225
16 ** 2 = 256
17 ** 2 = 289
18 ** 2 = 324
19 ** 2 = 361
20 ** 2 = 400

In [ ]:
sum =0
n=0
while i<=100:
    if n%2 != 0:
        sum+=n
    n+=1
    print(sum)

In [7]:
for i in range(1,101):
    if i%8==0 and i%12==0:
        print(i,end=" ")

24 48 72 96

In [12]:
sum =0
n=0
while n<=20:
    if n%2 != 0:
        sum+=n
    n+=1
    print(sum,end=" ")

0 1 1 4 4 9 9 16 16 25 25 36 36 49 49 64 64 81 81 100 100

In [ ]:

while True:
    name = input("enter customer name")
    bill=0

while True:
        item = int(input("enter the number of items collected"))
        amount = int(input("enter the particualar amount"))

        repeat = input("enter your choice (yes,no):")
        if  repeat ==" no":
            break
        print("Total bill",item*amount)

enter customer name hda
enter customer name hda

PATTERN DRAWING :

In [5]:
for i in range ( 1,6):
    for j in range (1,6):
        print(j,end =" ")
    print(i)

1 2 3 4 5 1
1 2 3 4 5 2
1 2 3 4 5 3
1 2 3 4 5 4
1 2 3 4 5 5

In [ ]:
1
12
123
1234
12345

In [10]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end =" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range ( 1,11):
    for j in range (1,i+1):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
11111
2222
333
44
5

In [24]:
for i in range (1,6):
    for j in range (6,i,-1):
        print(i,end =" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [31]:
a = "harry potter"
a.endswith('r')

True

FIBONACCI SERIES :

a = 0
b = 1
n=int(input("enter the number upto what index you want your fibonacci sseries"))
if n==1:
     print(1)
else:
    print(a)
    print(b)
for i in range(2,n):
    c = a+b
    a = b
    b = c
    print(c)

In [20]:
# to find out prime numbers:

In [23]:
num=int(input("enter the number "))
if num <=1:
    print("number is not prime")
else:
    for i in range (2,num):
        if num%i == 0:
            print("number is not a prime number:")
            break
        else:
            print("number is prime number")

enter the number  3

number is prime number

palendrome numbers

In [3]:
num = int(input("enter the number to check palendrome "))
temp=num
rev=0
while num>0:
    dig = num%10
    rev = rev*10+dig
    num = num//10
if rev == temp:
    print("palendrome")
else:
    print("not palendrome")

enter the number to check palendrome  326

not palendrome

LIST

fruits = ["apple","banana",1,2,3,4,5]
print(fruits)

In [1]:
fruits = ["apple","banana",1,2,3,4,5]
print(fruits)

['apple', 'banana', 1, 2, 3, 4, 5]

In [2]:
type(fruits)

list

In [8]:
fruits.insert(3,8)

In [13]:
a = ["iron man","hulk","captain america","thor"]
print(a[0])

iron man

In [14]:
a = ["iron man","hulk","captain america","thor"]
print(a[-3])

hulk

slicing in list

In [27]:
a = ["iron man","hulk","captain america","thor"]
print(a[1])
print(a[1:3:])
print(a[::2])
print(a[-1::-3])
print(a[::-1])
print(a[-1:-4:-1])

hulk
['hulk', 'captain america']
['iron man', 'captain america']
['thor', 'iron man']
['thor', 'captain america', 'hulk', 'iron man']
['thor', 'captain america', 'hulk']

In [38]:
a = ["iron man","hulk","captain america","thor"]
for i in a:
     print(i,end=",")

iron man,hulk,captain america,thor,

In [36]:
a = ["iron man","hulk","captain america","thor"]
for i in range(len(a)):
    print(a[i])

iron man
hulk
captain america
thor

In [42]:
a = ["iron man","hulk","captain america","thor"]
i = 0
while i<len(a):
    print(a[i])
    i+=1

iron man
hulk
captain america
thor

In [43]:
a = ["iron man","hulk","captain america","thor"]
[print(i) for i in a]

iron man
hulk
captain america
thor

[None, None, None, None]

In [44]:
len(a)

4

In [49]:
a.count("hulk")

1

In [56]:
a.append("spiderman")
print(a)

['iron man', 'hulk', 'captain america', 'thor', 'spiderman', 'spiderman']

In [57]:
a.insert(1,"viission")
print(a)

['iron man', 'viission', 'hulk', 'captain america', 'thor', 'spiderman', 'spiderman']

In [67]:
a = ["iron man","hulk","captain america","thor"]
a.remove("hulk")
print(a)

['iron man', 'captain america', 'thor']

In [68]:
a.remove("thor")
print(a)

['iron man', 'captain america']

In [73]:
a = ["iron man","hulk","captain america","thor"]
a.pop(0)
print(a)

['hulk', 'captain america', 'thor']